@tailwind base;
@tailwind components;
@tailwind utilities;

#root input,
#root select,
#root textarea {
  padding: 0.35rem 0.5rem;
  border-radius: 4px;
  background-color: white;
  color: #333;
}

#root input:disabled,
#root select:disabled,
#root textarea:disabled {
  background-color: rgb(221, 221, 221);
  color: #333;
}

* {
  font-family: "Roboto", sans-serif;
}
